/* style.css */
body{
  background: rgb(254,190,172);
  color: black;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;;
}
h1{
  font-family: 'Lobster', cursive;
  color: darkred;
  font-weight: lighter;
  font-size: 32px;
}
h2 {
  font-family: Courier;
  color: pink;
  font-weight: lighter;
  font-size: 8px;
}
a {
  color: yellow;
}
a:hover {
  text-decoration: none;
  color: purple;
}
